page-inicio {
    .col{
        padding: 50px;
        border: 1px solid #ddd;
        border-radius: 2px;
        
      }
        
      .button{
        padding-left: 0%;  
        padding-top: 0%; 
        font-size:20px; 
        color: #FFFFFF;
        text-align: left;
    }
      .ion-icon{
        align-self: left;
        //text-align: left;
      }

}
